@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="wrapper">
            <img src="~/Components/images/logo.jpg" alt="logo" class="rii img-responsive">
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="jumbotron wrapper">
            <h2>Simple Chat Messanger</h2>
            <blockquote>
                <p>Test task presents simple messanger via websockets</p>
                <footer>Author <cite title="Source Title">Andreev Sergiy</cite></footer>
            </blockquote>
        </div>
    </div>
</div>
